@model ManyBoxesVM
@using LimeBox.Models

@*<button id="RemovFromCart">Remove from cart</button>
    <button id="AddToCart">Add to cart</button>
    <div id="divResult"></div>*@


<div class="boxinfo2">

    <div>
        <img src="@Model.BoxImageHeader">
    </div>
    <div>
        <br />
        <h2>@Model.Boxtype</h2>
        @Model.BoxDescription
    </div>

</div>
<br />


<link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css" />


<div id="data-simplebar2">

    @foreach (var item in Model.Items)
    {
        <div>
            @if (ShoppingCart.ExistInList(item.Id))
            {
                <img id="ShowBox" onclick="AddToCart(@item.Id)" src="@item.BoxImg" style="opacity:0.5" />
                <br />
                <h2> # @item.BoxId</h2>
            }
            else
            {
                <img id="ShowBox" onclick="AddToCart(@item.Id)" src="@item.BoxImg" />
                <br />
                <h2> # @item.BoxId</h2>
            }
        </div>
    }
</div>
