@model ManyBoxesVM
@using LimeBox.Models


<div class="boxinfo2">

    <div>
        <img src="@Model.BoxImageHeader">
    </div>
    <div style="margin-right:20px; margin-top:20px;">
        <h2>@Model.Boxtype</h2>
        <div style="height: 80px;">@Model.BoxDescription</div>
        <span style="text-decoration:underline;">Pris: @Model.Items.First().Price:-</span>
    </div>

</div>
<br />


<link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css" />


<div id="data-simplebar2">

    @foreach (var item in Model.Items)
    {

        @if (ShoppingCart.ExistInList(item.Id))
        {
            <div class="OuterBox SelectedBox">
                <img id="ShowBox" onclick="AddToCart(@item.Id)" src="@item.BoxImg" />
                <br />
                <h2> # @item.BoxId</h2>
            </div>
        }
        else
        {
            <div class="OuterBox">
                <img id="ShowBox" onclick="AddToCart(@item.Id)" src="@item.BoxImg" />
                <br />
                <h2> # @item.BoxId</h2>
            </div>
        }
    }
</div>
