@model ManyBoxesVM

@*<button id="RemovFromCart">Remove from cart</button>
<button id="AddToCart">Add to cart</button>
<div id="divResult"></div>*@


<div class="boxinfo2">

    <div>
        <img src="@Model.BoxImage">
        </div>       
    <div>
        <br />
        <h2>@Model.Boxtype</h2>
        @Model.BoxDescription
    </div>

</div>
<br />


<link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css" />


<div id="data-simplebar2">

    @foreach (var item in Model.Items)
    {

        <div>
            <a class="boxName" asp-controller="Cart" asp-action="AddToCart" asp-route-id="@item.BoxId">
                <img src="@item.BoxImg" />
                <br />
            
                <h2> # @item.BoxId</h2>
            </a>

        </div>
    }
</div>
