@model AdminAddBoxesVM

<form asp-controller="Admin" asp-action="AddBoxes" method="post">
    <label asp-for="@Model.BoxType"></label>
    <input placeholder="Namn på box" asp-for="@Model.BoxType" />
    <br />
    <span asp-validation-for="@Model.BoxType"></span>
    <br />
    <label asp-for="@Model.BoxPrice"></label>
    <input placeholder="Namn på box" asp-for="@Model.BoxPrice" />
    <br />
    <span asp-validation-for="@Model.BoxPrice"></span>
    <br />
    <label asp-for="@Model.BoxImage"></label>
    <input placeholder="Bild Url" asp-for="@Model.BoxImage" />
    <br />
    <span asp-validation-for="@Model.BoxImage"></span>
    <br />
    <label asp-for="@Model.BoxImageHeader"></label>
    <input placeholder="Bild Url Header" asp-for="@Model.BoxImageHeader" />
    <br />
    <span asp-validation-for="@Model.BoxImageHeader"></span>
    <br />
    <label asp-for="@Model.BoxDescription"></label>
    <input placeholder="Description" asp-for="@Model.BoxDescription" />
    <br />
    <span asp-validation-for="@Model.BoxDescription"></span>
    <br />
    <button type="submit">Skapa</button>
</form>