@model List<AdminAllOrdersVM>


<table id="OrderTable" class="table">
    <thead>
        <tr>
            <td>Order id</td>
            <td>Namn</td>
            <td>Status</td>
            <td>Order datum</td>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
    <tbody>
        <tr onclick="SelectOrder(@item.Order.Id, this)" id="@item.Order.Id">
            <td>@item.Order.Id</td>
            <td>@item.Order.FirstName @item.Order.LastName</td>
            <td>@item.StatusName</td>
            <td>@item.Order.OrderDate.ToShortDateString()</td>
        </tr>
        <tr hidden>
            <td style="padding:0px" colspan="4">
                <div id="Content"></div>
            </td>
        </tr>
    </tbody>
    }
</table>
