@using LimeBox.Models
@model OrderVM

@using (Html.BeginForm("ChangeStatus"))
{

    <div class="SelectedOrderHeader">
        <span>Order nr: @Model.Order.Id</span>
        <span>@Model.Order.OrderDate.ToShortDateString()</span>
        <span>@Model.Order.OrderDate.ToShortTimeString()</span>
        <span>Användar ID: @Model.Order.UserId</span>
        <span>
            <select onchange="ChangeStatus(this, @Model.Order.Id)">
                @for (int i = 0; i < Model.StatusNameList.Count(); i++)
                {
                    if (i == Model.Order.Status)
                    {
                        <option selected>@Model.StatusNameList[i]</option>
                    }
                    else
                    {
                        <option>@Model.StatusNameList[i]</option>
                    }
                }
            </select>
        </span>
    </div>

}
<div style="display:flex; justify-content:space-around">
    <div style="display: flex; flex-direction: column">
        <span>@Model.Order.FirstName @Model.Order.LastName</span>
        <span>@Model.Order.Address</span>
        <span>@Model.Order.PostalCode @Model.Order.City</span>
        <span>@Model.Order.PhoneNumber</span>
        <span>@Model.Order.Email</span>
    </div>
    <div style="display: flex; flex-direction: column">
        @foreach (var item in Model.Boxes)
        {
            <span>#@item.BoxId @item.BoxType.BoxType</span>
        }
    </div>
</div>